<form class="aboutUs" action="aboutUs.php" method="POST">
  <input type="textarea" name="description" placeholder="Type New Description Here">
  <button type="submit" name="submit">Change Description</button>
</form>
<form class="aboutUs" action="aboutUs.php" method="POST">
  <input type="text" name="telephone" placeholder="Type New Telephone Here">
  <button type="submit" name="submit">Change Telephone</button>
</form>
<form class="aboutUs" action="aboutUs.php" method="POST">
  <input type="text" name="email" placeholder="Type New Email Here">
  <button type="submit" name="submit">Change Email</button>
</form>
<form class="aboutUs" action="aboutUs.php" method="POST">
  <input type="text" name="address" placeholder="Type New Address Here">
  <button type="submit" name="submit">Change Address</button>
</form>
