<form class="rfp" action="registerUser.php" method="POST">
    <input type="text" name="company" placeholder="Company Name">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input type="text" name="phoneNumber" placeholder="Telephone number">
    <input type="email" name="email" placeholder="Email Address">
    <label>Choose Username</label>
    <input type="text" name="userName" placeholder="Username">
    <label>Choose Password</label>
    <input type="text" name="password" placeholder="Password">
    <input type="text" name="confirmPassword" placeholder="Confirm Password">
    <button type="submit" name="submit">Register User</button>
</form>