<form enctype="multipart/form-data" class="rfp" action="../public/rfp.php" method="POST">
    <input type="text" name="companyName" placeholder="Company Name">
    <label>Contact person</label>
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input type="text" name="phoneNumber" placeholder="Telephone number">
    <input type="email" name="email" placeholder="Email Address">
    <label>Summary of RFP</label>
    <input type="textarea" name="message" placeholder="Type Summary Here">
    <label>Attached File - Only PDF format</label>
    <input type="file" name="file">
    <button type="submit" name="submit">Submit RFP</button>
</form>